.button {
	background: transparent;
	border: .2rem solid $themePrimaryColor;
	box-shadow: none;
	color: $themePrimaryColor;
	display: inline-block;
	font-size: $typeSmall;
	letter-spacing: $letterSpacing;
    margin-bottom: $spaceBase;
	padding: $spaceBase $spaceBase*2;
	text-transform: uppercase;
	&:hover, &:active, &:focus {
        box-shadow: inset 0 -4em 0 $themePrimaryColor;
        color: #themeSecondaryColor;
    	}
	}