[role="contentinfo"] {
	background: #fff;
	padding: $spaceBase*3 $spaceBase*2;
	text-align: center;
	}

[role="contentinfo"] .social-links {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	}