[role="contentinfo"] {
	background: #fff;
	flex: none;
	margin-bottom: -10px;
	margin-left: -10px;
	padding: 0.45em 10px 0.45em 10px;
	text-align: center;
	width: calc(100% + 20px);
	@media (min-width: $breakpoint-large) {
		font-size: 0.833333333em;
	    padding-bottom: 0.8em;
		padding-top: 0.8em !important;
	    }
	}

.footer__social {
	width: auto;
	}

.footer__social li {
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
	vertical-align: top;
	}

.footer__social li a:before {
	margin-right: 0;
	}

.footer__social li a {
	border-bottom: 0;
	&:hover, &:active, &:focus {
        box-shadow: none;
        color: $link;
    	}
	}

.footer__social li a.icon-twitter {
	font-size: 1.1em;
	}