[role="contentinfo"] {
	background: $whiteish;
	grid-row-start: 3;
  	grid-row-end: 4;
	margin-top: $spaceBase*6;
	padding: $spaceBase*3 0;
	text-align: center;
	}

[role="contentinfo"] .social-links {
	margin-left: auto;
	margin-right: auto;
	}