html {
	height: 100%;
	}

body {
	background: #f8f7f3; 
	display: grid;
  	grid-template-rows: 1fr auto;
	min-height: 100%;
	}

.skip-link.away:focus {
	background: #fff;
	left: 1em !important;
	padding: 0.5em;
	z-index: 999;
	}

main {
	margin-top: 7.6rem;
	padding-top: $spaceBase*3;
	@media (min-width: $mediumWidth) {
		margin-top: 7rem;
		padding-top: $spaceBase*5;
		}
	}

main a {
	border-bottom: 1px solid $themePrimaryColor;
	color: #000;
	transition: all 0.2s linear;
	&:hover, &:active, &:focus {
        outline: 0;
    	}
	}

.page__header {
	color: $themePrimaryColor;
    padding-bottom: $spaceBase*3;
    @media (min-width: $mediumWidth) {
		grid-column: 1 / span 12;
		}
	@media (min-width: $largeWidth) {
		grid-column: 2 / span 10;
		}
    }

img {
	height: auto;
	width: 100%;
	}

figcaption {
	display: block;
	font-size: $typeSmall;
	font-style: italic;
	margin-top: $spaceBase;
	text-align: right;
	}

.away {
	left: -9999em;
	position: absolute;
	}