.skip-link.away:focus {
	background: #fff;
	left: 1em !important;
	padding: 0.5em;
	z-index: 999;
	}

body {
	background: #f8f7f3; 
	display: flex;
	min-height: 100vh;
    flex-direction: column;
	}

main {
	margin-top: 7.6rem;
	padding-top: $spaceBase*2;
	}

main a {
	border-bottom: 1px solid $link;
	color: #000;
	transition: all 0.2s linear;
	&:hover, &:active, &:focus {
        outline: 0;
    	}
	}

img {
	height: auto;
	width: 100%;
	}

.away {
	left: -9999em;
	position: absolute;
	}