$headerHeightSmall: 4rem;
$borderWidth: .1rem;

body.home {
	background: $themePrimaryColor center / cover no-repeat url("../images/bg.jpg");
	color: $whiteish;
	}

.home a {
	border-color: $whiteish;
	color: $whiteish;
	&:hover, &:active, &:focus {
		box-shadow: inset 0 -1em 0 lighten($themePrimaryColor,10%);
    	}
	}

.home__info {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 0;
	padding: $spaceBase*4 $spaceBase*2 $spaceBase*2 $spaceBase*2;
	@media (min-width: $standardWidth) {
	    padding: ($spaceBase*5 + $borderWidth) ($spaceBase*3 + $borderWidth) ($spaceBase*3 + $borderWidth) ($spaceBase*3 + $borderWidth);
	    }
	@media (min-width: $mediumWidth) and (min-height: $minHeight) {
		align-items: flex-end;
		justify-content: left;
	    padding: 0 ($spaceBase*3 + $borderWidth) ($spaceBase*3 + $borderWidth) ($spaceBase*3 + $borderWidth);
	    height: 100vh;
	    }
	@media (min-width: $largeWidth) and (min-height: $minHeight) {
	    padding: 0 ($spaceBase*6 + $borderWidth) ($spaceBase*6 + $borderWidth) ($spaceBase*6 + $borderWidth);
	    }
	}

.home__info__wrapper {
	width: 100%;
	max-width: 570px;
	}

.home__info .body-copy {
	hyphens: none;
	}

.home__info__name {
	font-family: serif;
	font-size: $typeBigger;
	font-weight: bold;
	
	.fonts-loaded body & {
		font-family: Eksell-Display-Large;
		font-weight: normal;
		letter-spacing: .1rem;
		}
	}

.home__info__location {
	margin-bottom: $spaceBase*2;
	}

.home__info .social-links {
	margin-top: $spaceBase*3;
	}

.home__info .social-links a {
	svg {
		fill: $themeSecondaryColor;
		}
	&:hover, &:active, &:focus {
		svg {
			fill: $themeSecondaryColor;
			}
		}
	}

.home [role="navigation"] {
	display: flex;
	font-size: $typeSmall;
	font-weight: 500;
	justify-content: center;
	text-transform: uppercase;
	@media (min-width: $mediumWidth) {
	    grid-column: span 12;
	    }
	}

.home nav a {
	transition: all $transition;
	&:hover, &:active, &:focus {
		box-shadow: inset 0 -.2rem 0 $themeSecondaryColor;
		color: $themeSecondaryColor;
        outline: 0;
    	}
	}

@media (min-width: $standardWidth) {
    .edge {
		background: transparent;
		border-color: $whiteish;
		border-style: solid;
		position: fixed;
		z-index: 9998;
		}

	.edge--top,
	.edge--bottom {
		height: ($spaceBase + $borderWidth);
		left: $spaceBase;
		right: $spaceBase;
		@media (min-width: $largeWidth) {
			height: $spaceBase*3;
			left: $spaceBase*3;
			right: $spaceBase*3;
		    }
		}

	.edge--top {
		border-bottom-width: $borderWidth;
		}

	.edge--bottom {
		border-top-width: $borderWidth;
		bottom: 0;
		}

	.edge--left,
	.edge--right {
		bottom: $spaceBase;
		top: $spaceBase;
		width: ($spaceBase + $borderWidth);
		@media (min-width: $largeWidth) {
		    bottom: $spaceBase*3;
			top: $spaceBase*3;
			width: ($spaceBase*3 + $borderWidth);
		    }
		}

	.edge--left {
		border-right-width: $borderWidth;
		}

	.edge--right {
		border-left-width: $borderWidth;
		right: 0;
		}
    }