.home__info__wrapper {
	display: flex;
	flex-direction: column;
	}

.home__wrapper a {
	border-color: #fff;
	color: #fff;
	&:hover, &:active, &:focus {
		box-shadow: inset 0 -1em 0 lighten($themePrimaryColor,10%);
    	}
	}

.home__wrapper {
	@media (min-height: $minHeight) {
	    display: flex;
		flex-direction: column;
	    }
	@media (min-width: $mediumWidth) {
		flex-direction: row;
	    }
	}

.home__info,
.home__nav {
	color: #fff;
	padding: ($spaceBase*4 + .2rem);
	}

.home__info {
	background: #FF654B;
	margin-top: 0;
	@media (min-height: $minHeight) {
		align-items: center;
		display: flex;
	    height: 75vh;
	    padding-bottom: 0;
	    padding-top: $spaceBase;
	    justify-content: center;
	    }
	@media (min-width: $mediumWidth) {
		height: 100vh;
		padding-left: ($spaceBase*5 + .2rem);
		width: 50vw;
	    }
	@media (min-width: $largeWidth) {
		padding-left: ($spaceBase*7 + .4rem);
	    }
	}

.home__info__wrapper {
	width: 100%;
	max-width: 400px;
	}

.home__info__name {
	font-family: serif;
	font-size: $typeMassive;
	font-weight: bold;
	margin-bottom: $spaceBase*4;
	
	.fonts-loaded body & {
		font-family: Eksell-Display-Large;
		font-weight: normal;
		letter-spacing: .1rem;
		}
	}

.home__info__location {
	margin-bottom: $spaceBase*2;
	}

.home__info__intro li:not(:last-child) {
	margin-bottom: $spaceBase;
	}

.home__info .social-links {
	margin-top: $spaceBase*4;
	}

.home__info .social-links a {
	svg {
		fill: $themeSecondaryColor;
		}
	&:hover, &:active, &:focus {
		svg {
			fill: $themeSecondaryColor;
			}
		}
	}

.home__nav {
	background: #062D3F;
	font-size: $typeSmall;
	font-weight: 500;
	padding-bottom: $spaceBase*3;
	padding-top: $spaceBase*4;
	text-transform: uppercase;
	@media (min-height: $minHeight) {
		align-items: center;
		display: flex;
		height: 25vh;
		justify-content: center;
	    order: 1;
	    padding-bottom: $spaceBase;
	    padding-top: 0;
	    }
	@media (min-width: $mediumWidth) {
		height: 100vh;
		padding-right: ($spaceBase*5 + .2rem);
		width: 50vw;
	    }
	@media (min-width: $largeWidth) {
		padding-right: ($spaceBase*7 + .4rem);
	    }
	}

.home__nav a {
	transition: all $transition;
	&:hover, &:active, &:focus {
		box-shadow: inset 0 -.2rem 0 $themeSecondaryColor;
		color: $themeSecondaryColor;
        outline: 0;
    	}
	}

.edge {
	background: #fff;
	position: fixed;
	z-index: 9998;
	}

.edge--top,
.edge--bottom {
	height: .2rem;
	left: $spaceBase;
	right: $spaceBase;
	@media (min-width: $largeWidth) {
	    height: .4rem;
		left: $spaceBase*3;
		right: $spaceBase*3;
	    }
	}

.edge--top {
	top: $spaceBase;
	@media (min-width: $largeWidth) {
		top: $spaceBase*3;
	    }
	}

.edge--bottom {
	bottom: $spaceBase;
	@media (min-width: $largeWidth) {
		bottom: $spaceBase*3;
	    }
	}

.edge--left,
.edge--right {
	bottom: $spaceBase;
	top: $spaceBase;
	width: .2rem;
	@media (min-width: $largeWidth) {
	    bottom: $spaceBase*3;
		top: $spaceBase*3;
		width: .4rem;
	    }
	}

.edge--left {
	left: $spaceBase;
	@media (min-width: $largeWidth) {
		left: $spaceBase*3;
	    }
	}

.edge--right {
	right: $spaceBase;
	@media (min-width: $largeWidth) {
		right: $spaceBase*3;
	    }
	}