.info__pic {
	margin-bottom: $spaceBase*4;
	@media (min-width: $mediumWidth) {
		grid-column: 1 / span 4;
		}
	@media (min-width: $largeWidth) {
		grid-column: 2 / span 3;
		}
	}

.info__body {
	margin-bottom: $spaceBase*4;
	@media (min-width: $mediumWidth) {
		grid-column: 6 / span 7;
		}
	@media (min-width: $largeWidth) {
		grid-column: 6 / span 6;
		}
	}

.info__section {
	margin-bottom: $spaceBase*4;
	}