.page--info h1 {
	@media (min-width: $largeWidth) {
		grid-column: 4 / span 6;
		}
	}

.info__pic {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  	grid-template-rows: 1fr;
  	grid-template-areas: "column column column column column column";
	margin-bottom: $spaceBase*4;
	@media (min-width: $mediumWidth) {
		grid-column: 1 / span 6;
		}
	@media (min-width: $largeWidth) {
		grid-column: 1 / span 6;
		}
	}

.info__pic h1, 
.info__pic img, 
.info__pic__shade {
  	grid-row: row 1 / span 1;
	}

.info__pic h1 {
	grid-column: col 5 / span 2;
  	grid-row: row 1;
	margin-top: $spaceBase;
	z-index: 2;
	}

.info__pic img {
	grid-column: col 1 / span 5;
  	grid-row: row 1;
	}

.info__pic__shade {
	background: rgba($themePrimaryColor,0.25);
	grid-column: col 2 / span 11;
	height: 95%;
	margin-top: $spaceBase*5;
	z-index: 3;
	}

.info__body {
	margin-bottom: $spaceBase*4;
	@media (min-width: $mediumWidth) {
		grid-column: 7 / span 6;
		}
	@media (min-width: $largeWidth) {
		grid-column: 8 / span 5;
		}
	}

.info__section {
	margin-bottom: $spaceBase*4;
	}