.page--info h1 {
	@media (min-width: $largeWidth) {
		grid-column: 4 / span 6;
		}
	}

.info__pic {
	position: relative;
	margin-bottom: $spaceBase*4;
	@media (min-width: $mediumWidth) {
		grid-column: 1 / span 6;
		}
	@media (min-width: $largeWidth) {
		grid-column: 1 / span 6;
		}
	}

.info__pic__shade {
	background: rgba($themePrimaryColor,0.25);
	display: block;
	height: 85%;
	left: 4rem;
	position: absolute;
	top: 2rem;
	width: 100%;
	}

.info__body {
	margin-bottom: $spaceBase*4;
	@media (min-width: $mediumWidth) {
		grid-column: 7 / span 6;
		}
	@media (min-width: $largeWidth) {
		grid-column: 8 / span 5;
		}
	}

.info__section {
	margin-bottom: $spaceBase*4;
	}