.article {
	margin-bottom: $spaceBase*5;
	}

.article__date {
	display: block;
	font-size: $typeSmall;
	font-style: italic;
	margin-bottom: $spaceBase;
	text-transform: uppercase;
	@media (min-width: $mediumWidth) {
		grid-column: 1 / span 2;
		padding-top: 1.3rem;
		}
	@media (min-width: $largeWidth) {
		grid-column: 2 / span 2;
		}
	}

.category-link .article__date {
	@media (min-width: $mediumWidth) {
		padding-top: 0.9rem;
		}
	}

.article__date, 
.article__date a {
	border: 0;
	color: lighten( $textColor, 50% );
	}

.article__body {
	@media (min-width: $mediumWidth) {
		grid-column: 3 / span 8;
		}
	@media (min-width: $largeWidth) {
		grid-column: 4 / span 6;
		}
	}

.article__body__title {
	font-size: $typeBigger;
	margin-bottom: $spaceBase;
	}

.pagination__item--newer {
	grid-column: 1 / span 3;
	@media (min-width: $mediumWidth) {
		grid-column: 3 / span 2;
		}
	@media (min-width: $largeWidth) {
		grid-column: 4 / span 2;
		}
	}

.pagination__item--older {
	grid-column: 4 / span 3;
	text-align: right;
	@media (min-width: $mediumWidth) {
		grid-column: 9 / span 2;
		}
	@media (min-width: $largeWidth) {
		grid-column: 8 / span 2;
		}
	}

.pagination svg {
	width: 0.8rem;
	}

.journal__extras {
	margin-top: $spaceBase*6;
	}

.journal__extras__wrapper {
	@media (min-width: $mediumWidth) {
		grid-column: 1 / span 12;
		}
	@media (min-width: $largeWidth) {
		grid-column: 4 / span 8;
		}
	}

.journal__extras ul {
	margin-top: $spaceBase*2;
	}

.journal__extras li {
	display: inline-block;
	margin-right: $spaceBase*2;
	}

.article.category-link h1, 
.article.category-link h2 {
	display: none;
	}

.category-link .article__content {
	@media (min-width: $breakpoint-medium) {
	    margin-top: 0.25em;
	    }
	@media (min-width: $breakpoint-large) {
	    margin-top: 0.45em;
	    }
	}

.category-link .article__content a {
	overflow-wrap: break-word;
  	word-wrap: break-word;
	-ms-word-break: break-all;
  	word-break: break-all;
  	word-break: break-word;
  	-ms-hyphens: auto;
  	-moz-hyphens: auto;
  	-webkit-hyphens: auto;
  	hyphens: auto;
	}

.article__content .wp-caption {
	max-width: 100%;
	}

.article__content .wp-caption-text {
	font-size: 0.7em;
	margin-top: 0.5em;
	}

.article__content ul, 
.article__content ol {
	margin-bottom: 0.75em;
	}

.article__content li:not(.module) {
	list-style-type: disc;
	margin-bottom: 0.25em;
	margin-left: 1em;
	}

.article__content pre {
	line-height: 1.4;
	}

.article__content img.alignnone {
	margin-bottom: 0.25em;
	margin-top: 0.25em;
	}

.article__content iframe, 
.article__content object {
	max-width: 100%;
	}
