.article {
	margin-bottom: $spaceBase*5;
	}

.article__date {
	display: block;
	font-size: $typeSmall;
	font-style: italic;
	text-transform: uppercase;
	@media (min-width: $mediumWidth) {
		grid-column: 1 / span 2;
		padding-top: .7rem;
		}
	@media (min-width: $largeWidth) {
		grid-column: 2 / span 2;
		}
	}

.article--single .article__date {
	@media (min-width: $mediumWidth) {
		padding-top: 1.1rem;
		}
	}

.category-link .article__date {
	@media (min-width: $mediumWidth) {
		padding-top: 0.2rem;
		}
	}

.article__date, 
.article__date a {
	box-shadow: none;
	color: lighten( $textColor, 50% );
	}

.article__body {
	@media (min-width: $mediumWidth) {
		grid-column: 3 / span 8;
		}
	@media (min-width: $largeWidth) {
		grid-column: 4 / span 6;
		}
	}

.article__body__title {
	color: $headingColor;
	font-size: $typeMassive;
	line-height: 1.1;
	}

.single .article__body__title {
	margin-bottom: $spaceBase*2; 
	}

.page--journal .article__body__title {
	font-size: $typeBigger;
	}

.pagination__item--newer {
	grid-column: 1 / span 3;
	@media (min-width: $mediumWidth) {
		grid-column: 3 / span 2;
		}
	@media (min-width: $largeWidth) {
		grid-column: 4 / span 2;
		}
	}

.pagination__item--older {
	grid-column: 4 / span 3;
	text-align: right;
	@media (min-width: $mediumWidth) {
		grid-column: 9 / span 2;
		}
	@media (min-width: $largeWidth) {
		grid-column: 8 / span 2;
		}
	}

.pagination a {
	svg {
		width: 0.8rem;
		}
	&:hover, &:active, &:focus {
		svg {
			fill: $whiteish;
			}
		}
	}

.journal__extras {
	margin-top: $spaceBase*6;
	}

.journal__extras__wrapper {
	@media (min-width: $mediumWidth) {
		grid-column: 3 / span 8;
		}
	@media (min-width: $largeWidth) {
		grid-column: 4 / span 6;
		}
	}

.journal__extras ul {
	grid-row-gap: $spaceBase;
	margin-top: $spaceBase*3;
	}

.category-list li {
	display: inline-block;
	margin-bottom: $spaceBase;
	margin-right: $spaceBase*2;
	}

.year-list li {
	grid-column: span 1;
	@media (min-width: $mediumWidth) {
		grid-column: span 2;
		}
	}

.category-link .article__content a {
	overflow-wrap: break-word;
  	word-wrap: break-word;
	-ms-word-break: break-all;
  	word-break: break-all;
  	word-break: break-word;
  	-ms-hyphens: auto;
  	-moz-hyphens: auto;
  	-webkit-hyphens: auto;
  	hyphens: auto;
	}
