[role="banner"] {
    left: 0;
    line-height: 1;
    padding-bottom: $spaceBase*2;
	padding-top: $spaceBase;
    position: fixed;
    right: 0;
	top: 0;
	z-index: 9999;
	@media (min-width: $mediumWidth) {
		padding-bottom: $spaceBase*3;
	    padding-top: $spaceBase*3;
	    }
	}

.masthead__wrapper {
	@media (min-width: $mediumWidth) {
	    display: grid;
	    grid-template-columns: 1fr max(400px);
	    }
	}

.logo {
	margin-bottom: $spaceBase*2;
	font-size: $typeBig;
	@media (min-width: $mediumWidth) {
	    margin-bottom: 0;
	    }
	}

.logo a {
	display: block;
	text-align: center;
	@media (min-width: $mediumWidth) {
	    text-align: left;
	    }
	}

.masthead [role="navigation"] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	}

.masthead [role="navigation"] ul {
	display: flex;
	justify-content: space-between;
	}

.masthead [role="navigation"] li {
	padding-left: $spaceBase;
	padding-right: $spaceBase;
	}

.masthead a {
	&:hover, &active {
		text-decoration: underline;
		}
	}
