.social-links {
	display: flex;
	justify-content: space-between;
	max-width: 400px;
	}

.social-links a {
	box-shadow: none;
	svg {
		fill: $textColor;
		transition: all $transition;
		width: 2.4rem;
		}
	&:hover, &:active, &:focus {
		box-shadow: none !important;
		}
	}
