@font-face {
    font-family: Eksell-Display-Large;
    src: url('../fonts/Eksell-Display-Large.woff2') format('woff2'),
             url('../fonts/Eksell-Display-Large.woff') format('woff');
    }

body, 
button, 
input, 
select, 
textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: $typeBase;
    }

body {
    line-height: 1.4;
    }
 
h1, 
h2, 
.headline {
	font-family: serif;
    font-weight: bold;
	}

strong, 
b {
    font-weight: bold;
    }

em, 
i, 
.emphasis, 
.home__info__location {
    font-style: italic;
    }

.fonts-loaded {
    h1, 
    h2, 
    .headline {
        font-family: Eksell-Display-Large;
        font-weight: normal;
        letter-spacing: .1rem;
        }
    }

.break {
    display: inline-block;
    }