@font-face {
    font-family: Eksell-Display-Large;
    src: url('../fonts/Eksell-Display-Large.woff2') format('woff2'),
             url('../fonts/Eksell-Display-Large.woff') format('woff');
    }

body, 
button, 
input, 
select, 
textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: $typeBase;
    }

body {
    line-height: 1.4;
    }
 
.headline,
.logo {
	font-family: serif;
    font-weight: bold;
    .fonts-loaded & {
        font-family: Eksell-Display-Large;
        font-weight: normal;
        letter-spacing: .1rem;
        }
	}

strong, 
b {
    font-weight: bold;
    }

em, 
i, 
.emphasis, 
.home__info__location {
    font-style: italic;
    }

.page__header {
    background: $themePrimaryColor;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: $typeBase;
    margin-bottom: $spaceBase*2;
    text-transform: uppercase;
    }

.break {
    display: inline-block;
    }