$breakpoint-small: 20em;
$breakpoint-medium: 40em;
$breakpoint-large: 60em;
$breakpoint-xlarge: 80em;

$site_max_width: 1280px;

/* COLOURS */
$themePrimaryColor: #FF654B;
$themeSecondaryColor: #fff;
$textColor: mix(black, $themePrimaryColor, 85%);
$link: #21888A;
$whiteish: mix(white, $themePrimaryColor, 97%);

/* SPACING */
$spaceBase: 0.8rem;

/* TYPE */
$typeBase: 1.4rem;
$typeBig: ($typeBase * 1.414);
$typeBigger: ($typeBase * 1.999);
$typeMassive: ($typeBase * 2.827);
$typeRidiculous: ($typeBase * 3.998);
$typeSmall: ($typeBase * 0.707);

/* ANIMATION */
$transition: .2s cubic-bezier(0.33,0.66,0.66,1);

/* LAYOUT */
$minHeight: 480px;
$mediumWidth: 700px;
$largeWidth: 1024px;