$breakpoint-small: 20em;
$breakpoint-medium: 40em;
$breakpoint-large: 60em;
$breakpoint-xlarge: 80em;

$site_max_width: 1280px;

/* COLOURS */
$themePrimaryColor: #FF654B;
$themeSecondaryColor: #fff;
$textColor: mix(black, $themePrimaryColor, 80%);
$whiteish: mix(white, $themePrimaryColor, 97%);
$headingColor: darken($themePrimaryColor,40%);

/* SPACING */
$spaceBase: 0.8rem;

/* TYPE */
$typeBase: 1rem;
$typeSmall: (0.707rem);
$typeBig: (1.414rem);
$typeBigger: (1.999rem);
$typeMassive: (2.827rem);
$typeRidiculous: ($typeMassive * 2);

/* ANIMATION */
$transition: .2s cubic-bezier(0.33,0.66,0.66,1);

/* LAYOUT */
$minHeight: 480px;
$standardWidth: 360px;
$mediumWidth: 700px;
$largeWidth: 1024px;