.work__section {
	margin-bottom: $spaceBase*2;
	padding: $spaceBase*2;
	grid-column: span 12;
	@media (min-width: $largeWidth) {
	    padding: $spaceBase*4 0;
	    }
	}

.work__section__content {
	grid-column: span 6;
	@media (min-width: $mediumWidth) {
	    grid-column: span 6;
	    }
	@media (min-width: $largeWidth) {
	    grid-column: 2 / span 5;
	    }
	}

.work__section__logo {
	margin-bottom: $spaceBase*2;
	max-width: 20rem;
	}

.work__section__title {
	font-weight: bold;
	margin-bottom: $spaceBase;
	}

.work__section__support {
	grid-column: span 6;
	@media (min-width: $mediumWidth) {
	    grid-column: 7 / span 6;
	    }
	@media (min-width: $largeWidth) {
	    grid-column: 8 / span 4;
	    }
	}

.work__section--fanduel {
	background: #1493FF;
	color: $whiteish;
	}

.work__section--stormid {
	background: #161616;
	color: $whiteish;
	}
