.work__section {
	margin-bottom: $spaceBase*4;
	grid-column: span 12;
	@media (min-width: $largeWidth) {
	    padding: $spaceBase*4 0;
	    }
	}

.work__section__content {
	grid-column: span 6;
	@media (min-width: $mediumWidth) {
	    grid-column: col 1 / span 6;
	    }
	@media (min-width: $largeWidth) {
	    grid-column: 2 / span 5;
	    }
	}

.work__section__logo {
	margin-bottom: $spaceBase*2;
	img {
		max-width: 20rem;
		}
	}

.work__section__title {
	font-size: $typeSmall;
	font-weight: 500;
	margin-bottom: $spaceBase;
	text-transform: uppercase;
	}

.work__section .button {
	margin-top: $spaceBase*2;
	}

.work__section__support {
	align-self: center;
	grid-column: span 6;
	justify-self: center;
	position: relative;
	max-width: 400px;
	@media (min-width: $mediumWidth) {
	    grid-column: 7 / span 6;
	    }
	@media (min-width: $largeWidth) {
	    grid-column: 8 / span 4;
	    }
	}

.work__section__support__shade {
	border-style: solid;
	border-width: .2rem;
	bottom: -$spaceBase*2;
	left: $spaceBase*2;
	position: absolute;
	right: -$spaceBase*2;
	top: $spaceBase*2;
	}

.work__section--fanduel .work__section__support__shade {
	border-color: #1493FF;
	}

.work__section--stormid .work__section__support__shade {
	border-color: #161616;
	}
