body {
	background: #f8f7f3; 
	display: flex;
	min-height: 100vh;
    flex-direction: column;
    @media (min-width: $breakpoint-small) {
        padding: 0 $spaceBase $spaceBase $spaceBase; 
        }
	@media (min-width: $breakpoint-large) and (min-height: 50em) {
		padding: 0 $spaceMore $spaceMore $spaceMore; 
		}
	}

main {
	flex: 1 0 auto;
	padding-top: 59px;
	@media (min-width: $breakpoint-medium) {
	    padding-top: 48px;
	    }
	@media (min-width: $breakpoint-large) {
	    padding-top: 54px;
	    }
	}

@media (min-width: $breakpoint-small) {
    .edge {
		background: #fff;
		position: fixed;
		z-index: 9998;
		}

	.edge--top {
		height: $spaceBase;
		left: 0;
		right: 0;
		top: 0;
		}

	.edge--bottom {
		height: $spaceBase;
		bottom: 0;
		left: 0;
		right: 0;
		}

	.edge--left {
		bottom: 0;
		left: 0;
		top: 0;
		width: $spaceBase;
		}

	.edge--right {
		bottom: 0;
		right: 0;
		top: 0;
		width: $spaceBase;
		}
    }

@media (min-width: $breakpoint-large) and (min-height: 50em) {
  	.edge--top, 
  	.edge--bottom {
		height: $spaceMore;
		}

	.edge--left, 
	.edge--right {
		width: $spaceMore;
		}
	}

a {
	border-bottom: 1px solid $link;
	color: #000;
	transition: all 0.2s linear;
	&:hover, &:active, &:focus {
        box-shadow: inset 0 -$spaceBase 0 $link;
        outline: 0;
    	}
	}

img {
	height: auto;
	width: 100%;
	}

.away {
	left: -9999em;
	position: absolute;
	}