body {
	background: #f8f7f3; 
	display: flex;
	min-height: 100vh;
    flex-direction: column;
    @media (min-width: $breakpoint-small) {
        padding: 0 10px 10px 10px; 
        }
	@media (min-width: $breakpoint-large) and (min-height: 50em) {
		padding: 0 20px 20px 20px; 
		}
	}

main {
	flex: 1 0 auto;
	padding-top: 1em;
	@media (min-width: $breakpoint-small) {
	    padding-top: 100px;
	    }
	}

@media (min-width: $breakpoint-small) {
    .edge {
	background: #fff;
	position: fixed;
	z-index: 9998;
	}

	.edge--top {
		height: 10px;
		left: 0;
		right: 0;
		top: 0;
		}

	.edge--bottom {
		height: 10px;
		bottom: 0;
		left: 0;
		right: 0;
		}

	.edge--left {
		bottom: 0;
		left: 0;
		top: 0;
		width: 10px;
		}

	.edge--right {
		bottom: 0;
		right: 0;
		top: 0;
		width: 10px;
		}
    }

@media (min-width: $breakpoint-large) and (min-height: 50em) {
  	.edge--top, 
  	.edge--bottom {
		height: 20px;
		}

	.edge--left, 
	.edge--right {
		width: 20px;
		}
	}

a {
	border-bottom: 1px solid $link;
	color: #000;
	transition: all 0.2s linear;
	&:hover, &:active, &:focus {
        box-shadow: inset 0 -9px 0 $link;
        outline: 0;
    	}
	}

img {
	height: auto;
	width: 100%;
	}

.away {
	left: -9999em;
	position: absolute;
	}