.home .logo {
	opacity: 0;
	transition: opacity 0.5s linear;
	}

.home .logo.show {
	opacity: 1;
	}

.home main {
	@media (min-width: $breakpoint-medium) {
	    padding-top: 0;
	    }
	}

.home__cover {
	@media (min-height: 400px) {
		height: 100vh;
	}
}

.home__cover h1  {
	/* autoprefixer: off */
 	background: -webkit-linear-gradient(transparent, transparent),
             	#0D3546 url(../images/bg-340.jpg) left top no-repeat;
 	background: -o-linear-gradient(transparent, transparent);
 	color: #0D3546;
 	margin-bottom: ($spaceMore * 2);
	position: relative;
	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
 	@media (min-width: 500px) {
 		/* autoprefixer: off */
 		background: -webkit-linear-gradient(transparent, transparent),
             		#0D3546 url(../images/bg-500.jpg) left top no-repeat;
        -webkit-background-clip: text;
		}
	@media (min-width: 600px) {
		/* autoprefixer: off */
		background: -webkit-linear-gradient(transparent, transparent),
             		#0D3546 url(../images/bg-600.jpg) left top no-repeat;
        -webkit-background-clip: text;
		}
	@media (min-width: $breakpoint-medium) and (min-height: 700px) {
		/* autoprefixer: off */
		background: -webkit-linear-gradient(transparent, transparent),
             		#0D3546 url(../images/bg-1022.jpg) left top no-repeat;
        -webkit-background-clip: text;
		}
	@media (min-width: $breakpoint-medium) and (min-height: 800px) {
		/* autoprefixer: off */
		background: -webkit-linear-gradient(transparent, transparent),
             		#0D3546 url(../images/bg-1168.jpg) left top no-repeat;
        -webkit-background-clip: text;
		}
	@media (min-width: $breakpoint-medium) and (min-height: 900px) {
		/* autoprefixer: off */
		background: -webkit-linear-gradient(transparent, transparent),
             		#0D3546 url(../images/bg-1315.jpg) left top no-repeat;
        -webkit-background-clip: text;
		}
	@media (min-width: $breakpoint-medium) and (min-height: 1000px) {
		/* autoprefixer: off */
		background: -webkit-linear-gradient(transparent, transparent),
             		#0D3546 url(../images/bg-1500.jpg) left top no-repeat;
        -webkit-background-clip: text;
		}
	@media (min-width: $breakpoint-small) {
		font-size: $alpha; 
		letter-spacing: -0.02rem; 
		}
	@media (min-width: $breakpoint-medium) {
		font-size: $alpha;
		}
	@media (min-width: $breakpoint-large) {
		font-size: $alpha;
		}
	@media (min-width: $breakpoint-xlarge) {
		font-size: $alpha;
		}
	}

.home__cover h1:after {
	@media (min-width: $breakpoint-small) {
	    background: $link;
		bottom: -$spaceMore;
		content: '';
		display: block;
		height: 0.1em;
		position: absolute;
		width: 3.5em;
	    }
	@media (min-width: $breakpoint-medium) {
		bottom: 0;
		height: 0.05em;
	    left: 0;
	    margin-left: 0;
	    width: 2em;
	    }
	}

.home__cover p {
	font-size: $epsilon;
	line-height: 1.6;
	}