.home .logo {
	position: fixed;
	@media (max-width: $breakpoint-medium) {
	    margin-left: 0;
	    }
	}

.home .logo > a  {
	/* autoprefixer: off */
 	background: -webkit-linear-gradient(transparent, transparent),
             	url(../images/bg-340.jpg) left top no-repeat;
 	background: -o-linear-gradient(transparent, transparent);
 	color: #0D3546;
	position: relative;
	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
 	@media (min-width: 500px) {
 		/* autoprefixer: off */
 		background: -webkit-linear-gradient(transparent, transparent),
             		url(../images/bg-500.jpg) left top no-repeat;
        -webkit-background-clip: text;
		}
	@media (min-width: 600px) {
		/* autoprefixer: off */
		background: -webkit-linear-gradient(transparent, transparent),
             		url(../images/bg-600.jpg) left top no-repeat;
        -webkit-background-clip: text;
		}
	@media (min-width: $breakpoint-medium) and (min-height: 700px) {
		/* autoprefixer: off */
		background: -webkit-linear-gradient(transparent, transparent),
             		url(../images/bg-1022.jpg) left top no-repeat;
        -webkit-background-clip: text;
		}
	@media (min-width: $breakpoint-medium) and (min-height: 800px) {
		/* autoprefixer: off */
		background: -webkit-linear-gradient(transparent, transparent),
             		url(../images/bg-1168.jpg) left top no-repeat;
        -webkit-background-clip: text;
		}
	@media (min-width: $breakpoint-medium) and (min-height: 900px) {
		/* autoprefixer: off */
		background: -webkit-linear-gradient(transparent, transparent),
             		url(../images/bg-1315.jpg) left top no-repeat;
        -webkit-background-clip: text;
		}
	@media (min-width: $breakpoint-medium) and (min-height: 1000px) {
		/* autoprefixer: off */
		background: -webkit-linear-gradient(transparent, transparent),
             		url(../images/bg-1500.jpg) left top no-repeat;
        -webkit-background-clip: text;
		}
	}

.home .logo .shape {
	background: $link;
	bottom: -0.6em;
	content: '';
	display: block;
	height: 0.15em;
	left: 50%;
	margin-left: -1.75em;
	position: absolute;
	width: 3.5em;
	@media (min-width: $breakpoint-medium) {
		bottom: 0;
		height: 0.05em;
	    left: 0;
	    margin-left: 0;
	    width: 2em;
	    }
	}

.home [role="navigation"] {
	background: rgba(255,255,255,0.7);
	position: relative;
	z-index: 2;
	}

.home__intro {
	background: #0f516d url(../images/bg-340.jpg) center center / cover no-repeat;
	color: #fff;
	margin-top: 60vh;
	padding-bottom: 2em;
	padding-top: 2em;
	text-align: center;
	@media (min-width: 500px) {
		background-image: url(../images/bg-500.jpg);
		}
	@media (min-width: 600px) {
		background-image: url(../images/bg-600.jpg);
		}
	@media (min-width: $breakpoint-medium) {
		align-items: center;
		display: flex;
	    float: right;
		height: 100vh;
		justify-content: center;
		margin-top: 0;
		padding-bottom: 0;
		padding-top: 48px;
		width: 50%;
	    }
	@media (min-width: $breakpoint-medium) and (min-height: 700px) {
		background-image: url(../images/bg-1022.jpg);
		}
	@media (min-width: $breakpoint-medium) and (min-height: 800px) {
		background-image: url(../images/bg-1168.jpg);
		}
	@media (min-width: $breakpoint-medium) and (min-height: 900px) {
		background-image: url(../images/bg-1315.jpg);
		}
	@media (min-width: $breakpoint-medium) and (min-height: 1000px) {
		background-image: url(../images/bg-1500.jpg);
		}
	@media (min-width: $breakpoint-large) {
		padding-top: 55px;
	    }
	}

.home__intro a {
	border-bottom: 2px solid #fff;
	color: #ffc;
	&:hover, &:active, &:focus {
        box-shadow: inset 0 -3px 0 #ffc;
        border: 0;
        color: #fff;
    	}
	}

.home__intro li {
	margin-bottom: 0.5em;
	}

.intro__more {
	border: 0;
	bottom: 0;
	display: none;
	left: 0;
	margin-bottom: 0;
	position: absolute;
	right: 0;
	text-align: center;
	z-index: 2;
	@media (min-width: $breakpoint-medium) {
	    display: block;
	    }
	}

.intro__more a {
	background: #fff;
	border: 0;
	color: #000;
	display: inline-block;
	font-size: 0.8em;
	padding: 0.5em 1em 10px 1em; 
	text-transform: uppercase;
	&:hover, &:active, &:focus {
		box-shadow: none;
		color: #000;
        padding-bottom: 15px;
    	}
	}

.home__section {
	margin-top: 3em;
	position: relative;
	}

.home__project {
	background: #333;
	height: 150px;
	position: relative;
	}

.home__project.project--glr {
	background: url(../images/glr.jpg) center center / cover no-repeat;
	@media (min-width: $breakpoint-medium) {
	    height: 15em;
	    }
	@media (min-width: $breakpoint-large) {
	    height: 15em;
	    }
	}

.home__project.project--instant {
	background: url(../images/instant.jpg) center center / cover no-repeat;
	@media (min-width: $breakpoint-medium) {
	    height: 11.75em;
	    }
	@media (min-width: $breakpoint-large) {
	    height: 12.45em;
	    }
	}

.home__project.project--film {
	background: url(../images/film.jpg) center center / cover no-repeat;
	@media (min-width: $breakpoint-medium) {
	    height: 10em;
	    }
	@media (min-width: $breakpoint-large) {
	    height: 10em;
	    }
	}

.home__project.project--secret-editions {
	background: url(../images/secret-editions.jpg) center center / cover no-repeat;
	@media (min-width: $breakpoint-medium) {
	    height: 14em;
	    }
	@media (min-width: $breakpoint-large) {
	    height: 14em;
	    }
	}

.home__project.project--shy-retirers {
	background: url(../images/shy-retirers.jpg) center center / cover no-repeat;
	@media (min-width: $breakpoint-medium) {
	    height: 10.75em;
	    }
	@media (min-width: $breakpoint-large) {
	    height: 11em;
	    }
	}

.home__project.project--sleeves-received {
	background: url(../images/sleeves-received.jpg) center center / cover no-repeat;
	@media (min-width: $breakpoint-medium) {
	    height: 9em;
	    }
	@media (min-width: $breakpoint-large) {
	    height: 9em;
	    }
	}

.home__project.project--other {
	@media (min-width: $breakpoint-medium) {
	    height: 5.9em;
	    }
	@media (min-width: $breakpoint-large) {
	    height: 5.9em;
	    }
	}

.home__project a {
	background: rgba(0,0,0,0.5);
	border-bottom: 0;
	bottom: 0;
	color: #fff;
	display: block;
	left: 0;
	padding: 1em;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.2s linear;
	&:hover, &:focus, &:active {
		background: rgba(0,0,0,0.8);
		box-shadow: none;
		.home__project__info {
			bottom: 1.5em;
			transition: all 0.2s linear;
			}
		}
	}

.home__project__info {
	bottom: 0.5em;
	left: 0.5em;
	position: absolute;
	right: 0.5em;
	&:hover, &:focus, &:active {
		bottom: 2em;
		}
	}

.home__project a {
	&:hover, &:focus, &:active {
		
		}
	}

.home__project h3 {
    font-size: 1.2em;
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 0.25em;
    vertical-align: bottom;
	}

.home__project p {
	font-size: 0.8em;
	line-height: 1.2;
    margin: 0;
	}