.home__intro {
	background: #0f516d url(../images/bg.jpg) center center/cover fixed no-repeat;
	color: #fff;
	height: 100vh;
	}

.intro__info {
	text-align: center;
	margin-top: 40vh;
	@media (min-width: $medium_min_width) {
		text-align: left;
		}
	}

.home__intro a {
	border-bottom: 2px solid #fff;
	color: #ffc;
	&:hover, &:active, &:focus {
        background: #ffc;
        border: 0;
        color: #02131a;
    	}
	}

.intro__social {
	display: inline-block;
	margin-top: 1em;
	@media (min-width: $large_min_width) {
		text-align: right;
		}
	}

.intro__social li {
	display: inline-block;
	padding: 0 0.5em;
	text-align: center;
	vertical-align: middle;
	@media (min-width: $medium_min_width) {
		padding: 0 1em 0 0;
		}
	}	

.intro__social a:before {
	margin: 0;
	}

.intro__social a {
	border: 2px solid #ffc;
	border-radius: 50%;
	display: inline-block;
	height: 40px;
	padding-top: 0.35em;
	width: 40px;
	@media (min-width: $large_min_width) {
		font-size: 0.9em;
		padding-top: 0.4em;
		}
	&:hover, &:focus, &:active {
		border: 2px solid #ffc;
		}
	}

.intro__social a.icon-email {
	padding-top: 0.3em;
	@media (min-width: $large_min_width) {
		padding-top: 0.35em;
		}
	}

.intro__social a.icon-twitter {
	font-size: 0.85em;
	padding-top: 0.55em;
	@media (min-width: $large_min_width) {
		font-size: 0.75em;
		padding-top: 0.6em;
		}
	}

.intro__projects li {
	margin-bottom: 0.5em;
	}

p.intro__more {
	border: 0;
	bottom: 0;
	left: 0;
	margin-bottom: 0;
	position: absolute;
	right: 0;
	text-align: center;
	z-index: 2;
	}

.intro__more a {
	background: #fff;
	border: 0;
	color: #000;
	display: inline-block;
	font-size: 1em;
	padding: 0.5em 1em 10px 1em; 
	text-transform: uppercase;
	&:hover, &:active, &:focus {
		background: #fff;
        padding-bottom: 1em;
    	}
	@media (min-width: $large_min_width) {
		padding-bottom: 1em;
		&:hover, &:active, &:focus {
	        padding-bottom: 1.5em;
	    	}
		}
	}

.home__section {
	background: url(../images/zigzag.svg) center 90% no-repeat;
	margin-top: 3em;
	padding-bottom: 2em;
	position: relative;
	}

.home__section h2 {
	margin-bottom: 0.3em;
	}

.home__section img {
	height: 100%;
	position: absolute;
	right: 0;
	width: auto;
	z-index: -1;
	@media (min-width: $large_min_width) {
		margin-right: calc(8.33333% + (20px/2));
		}
	@media (min-width: $xlarge_min_width) {
		margin-right: calc(16.66667% + (20px/2));
		}
	}