@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?72908310');
  src: url('../fonts/fontello.eot?72908310#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?72908310') format('woff'),
       url('../fonts/fontello.ttf?72908310') format('truetype'),
       url('../fonts/fontello.svg?72908310#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .5em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.icon-bandcamp:before { content: '\e800'; } /* '' */
.icon-spotify:before { content: '\e801'; } /* '' */
.icon-email:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-pinboard:before { content: '\e806'; } /* '' */
.icon-goodreads:before { content: '\e807'; } /* '' */
.icon-down:before { content: '\e808'; } /* '' */