.page--info .article__content h2 {
	margin-bottom: 0.5em;
	}

.page--info .article__content li:not(.module) {
	list-style-type: none;
	margin-bottom: 1em;
	margin-left: 0;
	}

.page--info .article__content li h3 {
	margin-top: 0;
	}
