.skip-link.away:focus {
	background: #fff;
	left: 1em !important;
	padding: 0.5em;
	z-index: 999;
	}

[role="banner"] {
	background: #fff;
	flex: none;
	padding: 0.45em 10px 0.6em 10px;
	@media (min-width: $breakpoint-small) {
	    left: 0;
	    position: fixed;
	    right: 0;
		top: 0;
		z-index: 9999;
	    }
	@media (min-width: $breakpoint-medium) {
	    padding-bottom: 0.75em;
		padding-top: 0.5em !important;
	    }
	@media (min-width: $breakpoint-large) {
		font-size: 0.833333333em;
	    padding-bottom: 1.2em;
		padding-top: 0.8em !important;
	    }
	}

.logo {
	margin-bottom: 0;
	@media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
		margin-right: 0;
	    width: calc(100% - 20px);
	    }
	@media (min-width: $breakpoint-large) and (min-height: 50em) {
		margin-left: 20px;
	    }
	}

.home .logo {
	opacity: 0;
	transition: opacity 0.5s linear;
	}

.home .logo.show {
	opacity: 1;
	}

.logo a {
	border: 0;
	color: #000;
	display: block;
	font-size: 1em;
	line-height: 1;
	text-align: center;
	transition: color 0.3s linear;
	@media (min-width: $breakpoint-medium) {
		padding: 0.25em 0 0 0;
	    text-align: left;
	    }
	@media (min-width: $breakpoint-large) {
		font-size: 1.2em;
		padding-top: 0.15em;
	    }
	@media (min-width: $breakpoint-xlarge) {
		font-size: 1.15em;
		padding-top: 0.2em;
	    }
	&:hover, &:focus, &:active {
		box-shadow: none;
		color: #000;
		}
	}

[role="navigation"] {
	line-height: 1;
	margin-top: 0.25em;
	text-align: center;
	@media (max-width: $breakpoint-medium) {
	    margin-right: 10px;
	    }
	@media (min-width: $breakpoint-medium) {
	    width: auto;
	    }
	@media (min-width: $breakpoint-large) and (min-height: 50em) {
		margin-right: 20px;
	    }
	}

[role="navigation"] ul {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	transition: all 0.2s linear;
	@media (min-width: $breakpoint-medium) {
		text-align: left;
	    }
	}

[role="navigation"] li {
	margin-bottom: 0.25em;
	@media (min-width: $breakpoint-small) {
		display: inline-block;
		margin: 0 1em; 
		text-align: center; 
		}
	@media (min-width: $breakpoint-medium) {
		display: block;
	    float: left;
		margin: 0 0 0 2em;
		text-align: left;
	    }
	}

[role="navigation"] a {
	border-bottom: 1px solid #000;
	color: #333;
	transition: all 0.2s linear;
	@media (min-width: $breakpoint-small) {
	    font-size: 0.8em;
	    }
	@media (min-width: $breakpoint-medium) {
		border-bottom-width: 2px;
	    font-size: 0.9em;
	    }
	@media (min-width: $breakpoint-large) {
	    font-size: 1em;
	    }
	&:hover, &:focus, &:active {
		background: transparent;
		border-color: $link;
		box-shadow: inset 0 -7px 0 $link;
		}
	}