@font-face {
    font-family: 'teimposheadlineblack';
    src: url('../fonts/TiemposHeadlineWeb-Black.eot');
    src: url('../fonts/TiemposHeadlineWeb-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TiemposHeadlineWeb-Black.woff2') format('woff2'),
         url('../fonts/TiemposHeadlineWeb-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'karlaregular';
    src: url('../fonts/karla-regular.eot');
    src: url('../fonts/karla-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-regular.woff2') format('woff2'),
         url('../fonts/karla-regular.woff') format('woff'),
         url('../fonts/karla-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'karlabold';
    src: url('../fonts/karla-bold.eot');
    src: url('../fonts/karla-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-bold.woff2') format('woff2'),
         url('../fonts/karla-bold.woff') format('woff'),
         url('../fonts/karla-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'karlaitalic';
    src: url('../fonts/karla-italic.eot');
    src: url('../fonts/karla-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-italic.woff2') format('woff2'),
         url('../fonts/karla-italic.woff') format('woff'),
         url('../fonts/karla-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

html, 
body, 
button, 
input, 
select, 
textarea {
    font-family: sans-serif;
    }
 
h1, 
h2, 
.logo,
.home__project h3 {
	font-family: serif;
    font-weight: bold;
	}

strong, 
b {
    font-family: sans-serif;
    font-weight: bold;
    }

em, 
i {
    font-family: sans-serif;
    font-style: italic;
    }

.fonts-loaded {

    html, 
    body, 
    button, 
    input, 
    select, 
    textarea {
        font-family: 'karlaregular', sans-serif;
        }

    h1, 
    h2, 
    .logo,
    .home__project h3 {
        font-family: "teimposheadlineblack", serif;
        font-weight: normal;
        }

    strong, 
    b {
        font-family: 'karlabold', sans-serif;
        font-style: normal;
        }

    em, 
    i {
        font-family: 'karlaitalic', sans-serif;
        font-weight: normal;
        }

    }

body {
    font-size: 1.1em;
    line-height: 1.4;
    @media (min-width: $breakpoint-large) {
        font-size: 1.2em;
        }
    }

h1 {
    font-size: 1.7em;
    margin-bottom: 1em;
    @media (min-width: $breakpoint-large) {
        font-size: 2em;
        }
    }

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    @media (min-width: $breakpoint-large) {
        font-size: 1.4em;
        }
    }

p {
    margin-bottom: 0.75em;
    }

.break {
    display: inline-block;
    }

.page__header {
    margin-bottom: 2em;
    position: relative;
    }

.page__header:after {
    background: $link;
    bottom: -0.4em;
    content: '';
    display: block;
    height: 0.15em;
    left: 0;
    margin-left: 0;
    position: absolute;
    width: 3.5em;
    }

.article__content h2, 
.article__content h3 {
    font-family: 'karlabold', sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
    margin-top: 1em;
    }