@font-face {
    font-family: 'karlabold';
    src: url('../fonts/karla-bold.eot');
    src: url('../fonts/karla-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-bold.woff2') format('woff2'),
         url('../fonts/karla-bold.woff') format('woff'),
         url('../fonts/karla-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karlaitalic';
    src: url('../fonts/karla-italic.eot');
    src: url('../fonts/karla-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-italic.woff2') format('woff2'),
         url('../fonts/karla-italic.woff') format('woff'),
         url('../fonts/karla-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karlaregular';
    src: url('../fonts/karla-regular.eot');
    src: url('../fonts/karla-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-regular.woff2') format('woff2'),
         url('../fonts/karla-regular.woff') format('woff'),
         url('../fonts/karla-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'salome';
    src: url('../fonts/salome.eot');
    src: url('../fonts/salome.eot?#iefix') format('embedded-opentype'),
         url('../fonts/salome.woff2') format('woff2'),
         url('../fonts/salome.woff') format('woff'),
         url('../fonts/salome.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, 
body, 
button, 
input, 
select, 
textarea {
	font-family: 'karlaregular', sans-serif;
	}

body {
    font-size: 1.1em;
    line-height: 1.5;
    @media (min-width: $breakpoint-large) {
        font-size: 1.2em;
        }
    }
 
h1, 
h2, 
strong, 
b, 
.logo {
	font-family: "lust", serif;
	}

em, 
i {
    font-family: 'karlaitalic', sans-serif;
    font-weight: normal;
    }

h1 {
    font-size: 1.8em;
    margin-bottom: 1em;
    }

h2 {
    font-size: 1.5em;
    }

p {
    margin-bottom: 0.75em;
    }