@font-face {
    font-family: 'karlabold';
    src: url('../fonts/karla-bold.eot');
    src: url('../fonts/karla-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-bold.woff2') format('woff2'),
         url('../fonts/karla-bold.woff') format('woff'),
         url('../fonts/karla-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'karlaitalic';
    src: url('../fonts/karla-italic.eot');
    src: url('../fonts/karla-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-italic.woff2') format('woff2'),
         url('../fonts/karla-italic.woff') format('woff'),
         url('../fonts/karla-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'karlaregular';
    src: url('../fonts/karla-regular.eot');
    src: url('../fonts/karla-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-regular.woff2') format('woff2'),
         url('../fonts/karla-regular.woff') format('woff'),
         url('../fonts/karla-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, 
body, 
button, 
input, 
select, 
textarea {
	font-family: 'karlaregular', sans-serif;
	}

body {
    font-size: 1.1em;
    line-height: 1.35;
    @media (min-width: $medium_min_width) {
        
        }
    @media (min-width: $large_min_width) {
        font-size: 1.3em;
        }
    }
 
h1, 
h2, 
strong, 
b, 
.logo {
	font-family: 'karlabold', sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
	}

em, 
i {
    font-family: 'karlaitalic', sans-serif;
    font-weight: normal;
    }

h2 {
    font-size: 1.8em;
    }

p {
    margin-bottom: 0.75em;
    }