$fix-mqs: false !default;
$fix-mqs-height: false !default;

@mixin respond-min($width) {
    @if $fix-mqs {
        @if $fix-mqs >= $width {
            @content;   
        }
    }
    @else {
        @media screen and (min-width: $width) {
            @content;
        }
    }
}

@mixin respond-max($width) {
    @if $fix-mqs {
        @if $fix-mqs <= $width {
            @content;   
        }
    }
    @else {
        @media screen and (max-width: $width) {
            @content;
        }
    }
}

@mixin respond-min-height($height) {
    @if $fix-mqs-height {
        @if $fix-mqs-height >= $height {
            @content;   
        }
    }
    @else {
        @media screen and (min-height: $height) {
            @content;
        }
    }
}

@mixin respond-max-height($height) {
    @if $fix-mqs-height {
        @if $fix-mqs-height <= $height {
            @content;   
        }
    }
    @else {
        @media screen and (max-height: $height) {
            @content;
        }
    }
}

$old-ie: false !default;

@mixin old-ie {
    @if $old-ie {
        @content;
    }
}

/* Vendor prefix mixins */

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
    }
    
@mixin box-shadow($shadow: $shadow) {
    -moz-box-shadow: ($shadow);
    -webkit-box-shadow: ($shadow);
    box-shadow: ($shadow);
    }

@mixin transition($transition) {
  -moz-transition: ($transition);
  -webkit-transition: ($transition);
  transition: ($transition);
  }
  
@mixin transform($transform) {
  -moz-transform: ($transform);
  -webkit-transform: ($transform);
  transform: ($transform);
  }
  
@mixin box-sizing($sizing) {
  -moz-box-sizing: ($sizing); 
  -webkit-box-sizing: ($sizing); 
  box-sizing: ($sizing);
  }
    
@mixin linear-gradient($from, $to) {
    background-color: $to;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $from),color-stop(1, $to));
    background-image: -webkit-linear-gradient(top, $from, $to);
    background-image: -moz-linear-gradient(top, $from, $to);
    background-image: -ms-linear-gradient(top, $from, $to);
    background-image: -o-linear-gradient(top, $from, $to);
    background-image: linear-gradient(top, bottom, $from, $to);
    }