.intro {
	background: #0f516d url(../images/bg.jpg) center center/cover fixed no-repeat;
	display: table;
	width: 100%;
	}

.intro__vertical-wrapper {
	color: #fff;
	display: table-cell;
	height: 100vh;
	vertical-align: middle;
	@media (min-width: $medium_min_width) {
	    padding-top: 4.187em;
	    }
	}

.intro__vertical-wrapper p {
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
	@media (min-width: $medium_min_width) and (max-height: 36em) {
	    float: right;
	    text-align: right;
	    width: 50%;
	    }
	@media (min-width: $medium_min_width) and (min-height: 36em) {
	    font-size: 1.4em;
	    }
	@media (min-width: $large_min_width) {
		float: right;
	    font-size: 1.4em;
	    text-align: right;
	    width: 50%;
	    }
	@media (min-width: $xlarge_min_width) {
	    font-size: 1.8em;
	    }
	}

.intro__vertical-wrapper p span {
	display: inline-block;
	}

.intro a {
	border-bottom: 2px solid #fff;
	color: #ffc;
	}	

.intro__more {
	border: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	z-index: 2;
	}

.intro__more a {
	background: #fff;
	color: #000;
	display: inline-block;
	font-size: 1em;
	padding: 0.5em 1em 0.5em 1em; 
	text-transform: uppercase;
	@media (min-width: $large_min_width) {
		padding-bottom: 1em;
		}
	}

.home__section {
	background: url(../images/zigzag.svg) center bottom no-repeat;
	padding-bottom: 3em;
	}