[role="banner"] {
	background: #fff;
	left: 0;
	padding-bottom: 0.5em;
	padding-top: 0.7em;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
	@media (min-width: $medium_min_width) {
	    padding-bottom: 0.75em;
		padding-top: 1em !important;
	    }
	@media (min-width: $large_min_width) {
		font-size: 0.833333333em;
	    padding-bottom: 1em;
		padding-top: 1.2em !important;
	    }
	}

.logo {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0.25em;
	margin-left: 10px;
	@media (min-width: $large_min_width) {
		font-size: 1.8em;
	    margin-bottom: 0;
	    }
	@media (min-width: $large_min_width) and (min-height: 50em) {
		margin-left: 20px;
	    }
	}

.logo a {
	color: #000;
	display: block;
	font-size: 1.2em;
	text-align: center;
	@media (min-width: $large_min_width) {
	    text-align: left;
	    }
	}

.home .logo a {
	@media (min-width: $medium_min_width) {
		text-align: left;
		}
	}

[role="navigation"] {
	margin-right: 10px;
	text-align: center;
	@media (min-width: $medium_min_width) {
	    width: auto;
	    }
	@media (min-width: $large_min_width) and (min-height: 50em) {
		margin-right: 20px;
	    }
	}

[role="navigation"] ul {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	@include transition(all 0.2s linear);
	@media (min-width: $medium_min_width) {
		text-align: left;
	    }
	}

[role="navigation"] li {
	@media (min-width: $small_min_width) {
		display: inline-block;
		margin: 0.25em 0.3em; 
		text-align: center; 
		}
	@media (min-width: $medium_min_width) {
		display: block;
	    float: left;
		margin: 0 0 0 2em;
		text-align: left;
	    }
	}

[role="navigation"] a {
	border-bottom: 2px solid #000;
	color: #333;
	@include transition(all 0.2s linear);
	}

[role="navigation"] ul:hover a, 
[role="navigation"] ul:focus a {
	border-bottom-width: 1px;
	-webkit-filter: blur(1px); 
	-moz-filter: blur(1px); 
	-o-filter: blur(1px); 
	-ms-filter: blur(1px); 
	filter: blur(1px);
   	}

[role="navigation"] li:hover a, 
[role="navigation"] li:focus a {
	border-bottom-width: 2px;
	-webkit-filter: blur(0); 
	-moz-filter: blur(0); 
	-o-filter: blur(0); 
	-ms-filter: blur(0); 
	filter: blur(0);
   	}