@font-face {
    font-family: 'besom';
    src: url('../fonts/Besom.eot');
    src: url('../fonts/Besom.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Besom.woff2') format('woff2'),
         url('../fonts/Besom.woff') format('woff'),
         url('../fonts/Besom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

html, 
body, 
button, 
input, 
select, 
textarea {
	font-family: "calluna",serif;
	}

.logo {
	font-family: 'besom', sans-serif;
	}