/* GLOBAL */

html, 
body, 
button, 
input, 
select, 
textarea {  
	font-family: "calluna-1", "calluna-2", Georgia, Times, serif;
	}
	
a {
	-moz-transition: .3s all;
	-o-transition: .3s all;
	-webkit-transition: .3s all;
	transition: .3s all;
	}
	
	
/* MASTHEAD */
	
h1 {
	font-weight: 700;
	}
	
[role="banner"] h1 {
	float: left;	
	}
	
nav {
	float: right;
	}
	
nav li {
	margin: 0 0 0 1em;
	}
	
	
/* BLOG POSTS */
	
.link h1:after {
	content: ' ➦';
	}