html, 
body, 
button, 
input, 
select, 
textarea {  
	font-family: "calluna-1", "calluna-2", Georgia, Times, serif;
	}
	
a {
	-moz-transition: .3s all;
	-o-transition: .3s all;
	-webkit-transition: .3s all;
	transition: .3s all;
	}
	
.link h1:after {
	content: ' ➦';
	}
	
[role="banner"] {
	font-family: "calluna-sans-1","calluna-sans-2", sans-serif;	
	font-weight: 300;
	text-transform: uppercase;
	}
	
[role="banner"] h1 a {
	font-weight: 600;
	}
	
[role="navigation"] li {
	margin-left: 2em;
	margin-right: 0;
	}
	
[role="navigation"] li:first-child {
	margin-left: 0;
	}