html, 
body, 
button, 
input, 
select, 
textarea {  
	font-size: 1.2em; 
	}
	
[role="banner"] {
	font-size: 0.7em;
	padding: 1.5em 0;
	}
	
[role="banner"] h1 {
	float: left;	
	margin: 0;
	}
	
[role="navigation"] {
	float: right;
	}
	
[role="navigation"] li {
	margin-left: 3em;
	}