html, 
body, 
button, 
input, 
select, 
textarea {  
	font-size: 1.2em; 
	}
	
[role="banner"] {
	font-size: 0.7em;
	padding: 1.5em 0;
	}
	
[role="navigation"] li {
	margin-left: 3em;
	}
	
article {
	padding: 2em 0;
	}
	
h1 {
	margin-bottom: 1em;
	}