html, 
body, 
button, 
input, 
select, 
textarea {  
	font-size: 1.1em; 
	}
	
#about li span {
	display: inline;
	}
	
.entry ol li, 
.entry ul li {
	margin-left: 0;
	}
	
[role="banner"] h1 {
	float: left;	
	margin: 0;
	}
	
[role="navigation"] {
	float: right;
	}