/* GLOBAL */

html, 
body, 
button, 
input, 
select, 
textarea {  
	color: #333;
	font-family: Georgia, Times, serif;
	line-height: 1.5;
	}
	
body:after {
    content: 'small';
    display: none;
    }
	
abbr {
	cursor: help;
	}
	
p {
	margin-bottom: 1em;
	}
	
img {
	height: auto;
	width: 100%; 
	}
	
a { 
	border-bottom: 1px solid #21888A;
	color: #333; 
	font-weight: normal;
	}
	
a:hover,
a:focus {
	color: #21888A;
	}
	
h1 {
	font-size: 1.6em;
	font-weight: bold;
	line-height: 1.2;
	margin: 0 0 0.5em 0;
	}
	
h2 {
	font-size: 1.2em;
	margin: 2em 0 0.5em 0;
	}
	
h3 {
	font-size: 1em;
	margin: 1em 0 0.5em 0;
	}
	
h4 {
	font-size: 0.8em;
	margin: 1em 0 0.5em 0;
	}
	
	

/* STRUCTURE */

.wrapper { 
	margin: 0 auto;
	max-width: 720px;
	padding: 0 4%;
	}
	
		
	
/* HEADER */
	
[role="banner"] {
	background: #f3f3f3;
	font-size: 0.9em;
	padding: 1em 0;
	text-align: center;
	}
	
[role="banner"] a {
	border: 0;
	}
	
[role="banner"] h1 {
	font-size: 1em;
	line-height: 1.6;
	margin: 0;
	}
	
[role="navigation"] {
	display: inline-block;
	margin: 0 auto;
	}
	
[role="navigation"] li {
	float: left;
	margin: 0 1em;
	}


/* SECTIONS */
	
#intro {
	background: url(../images/common/intro.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;
	padding: 2em 0 1em 0;
	}
	
#intro a {
	color: #fff;
	}
	
#intro figure {
	float: right;
	margin-top: 0.5em;
	width: 20%;
	}
	
#intro ul {
	float: left;
	width: 75%;	
	}
	
.adr {
	font-weight: bold;
	}
	
#profiles {
	background: #90B2A8;
	padding: 2em 0 1em 0;
	text-align: center;	
	}
	
#profiles li {
	display: inline-block;
	margin: 0 0.3em 0.6em 0.3em;
	}
	
#profiles li a {
	color: #393234;
	border: 0;
	font-size: 1.8em;
	}
	
#profiles li a span {
	display: none;
	}
	
#projects {
	padding: 2em 0;	
	}
	
	
	
/* BLOG POSTS */

article {
	border-bottom: 1px solid #d4e6e6;
	padding: 1em 0;
	}
	
article h1 {
	text-align: center;	
	}
	
time {
	color: #777;
	display: block;
	font-size: 0.7em;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	}
	
.link h1 {
	background: transparent url('../images/icons/link.png') no-repeat left top;
	font-size: 1.4em;
	line-height: 1.2em;
	margin: 0 0 0.5em 0;
	padding: 0.13em 0 0 34px;
	}
	
.entry img {
	border: 1px solid #f7f5ed;
	margin-top: 10px;
	}
	
.entry object, .entry embed {
	margin-top: 10px;
	}

.entry ol, .entry ul {
	margin-bottom: 1em;
	}

.entry ol li {
	list-style-type: decimal;
	margin: 0 0 0.5em 2em;
	}

.entry ul li {
	list-style-type: disc;
	margin: 0 0 0.5em 2em;
	}
	
.entry iframe {
	max-width: 612px;
	}
	
.entry blockquote {
	padding: 0 1em;
	}
	
.entry blockquote p:first-child:before {
	content: '\201C';
	height: 0;
	margin-left: -0.55em;
	}
	
.entry blockquote p:last-child:after {
	content: '\201D';
	height: 0;
	}
	
.view-instagram {
	font-size: 0.8em;
	text-align: center;
	}
	
.entry .gallery-item {
	float: left;
	margin: 0 2% 2% 0;
	width: 32%;	
	}
	
.entry .gallery-item:last-child {
	margin-right: 0;
	}
	
.entry .gallery-item img {
	margin-top: 0;
	}
	
.previous, .next {
	display: inline;
	float: left;
	}
	
.next {
	float: right;
	}