{{ define "head" }} {{ end }}
{{ define "body_tag"}}fourohfour{{ end }}

{{ define "content_wrapper" }}
<main id="content" role="main">
    <div class="grid wrapper">
        <div class="article__body">
        	<h1 class="headline page__header">
                Not Found
            </h1>
            <div class="article__content body-copy">
                <p>Sorry, we couldn't find what you were looking for. Don't worry, it's probably my fault. Maybe you probably followed a broken link or I've moved something.</p>
				<p><a class="button" href="/">Go home</a></p>
            </div>
        </div>
    </div>
</main>
{{ end }}
