$breakpoint-small: 20em;
$breakpoint-medium: 40em;
$breakpoint-large: 60em;
$breakpoint-xlarge: 80em;

$site_max_width: 1280px;

/* COLOURS */
$link: #21888A;

/* SPACING */
$spaceBase: 0.8rem;

/* TYPE */
$alpha: 2.4rem;
$beta: 2.2rem;
$gamma: 2rem;
$delta: 1.8rem;
$epsilon: 1.6rem;
$zeta: 1.4rem;
$eta: 1.2rem;
$theta: 1rem;

/* HEADER */
$headerHeightNarrow: 60px;