@-webkit-viewport {
	width:device-width
	}

@-moz-viewport {
	width:device-width
	}

@-ms-viewport {
	width:device-width;
	zoom: 1.0;
	}

@-o-viewport {
	width:device-width
	}

@viewport {
	width:device-width
	}

@font-face {
	font-family: Eksell-Display-Large;
	src: url('/dist/fonts/Eksell-Display-Large.woff2') format('woff2'),
			 url('/dist/fonts/Eksell-Display-Large.woff') format('woff');
	}

@import "variables";

@import "base";

body {
	background: #FF654B;
	color: $text-color;
	display: flex;
	flex-direction: column;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: $typeBase;
	line-height: 1.4;
	min-height: 100vh;
	}


.home__info__name {
	font-family: serif;
	.fonts-loaded-1 body &,
	.fonts-loaded-2 body & {
		font-family: Eksell-Display-Large;
		letter-spacing: .1rem;
	}
}

main {
	flex: 1 0 auto;
	}

a {
	color: #fff;
	font-weight: bold;
	transition: all 0.2s linear;
	}

.away {
	left: -9999em;
	position: absolute;
	}

.edge {
	background: #fff;
	position: fixed;
	z-index: 9998;
	}

.edge--top,
.edge--bottom {
	height: .2rem;
	left: $spaceBase;
	right: $spaceBase;
	@media (min-width: $largeWidth) {
	    height: .4rem;
		left: $spaceBase*3;
		right: $spaceBase*3;
	    }
	}

.edge--top {
	top: $spaceBase;
	@media (min-width: $largeWidth) {
		top: $spaceBase*3;
	    }
	}

.edge--bottom {
	bottom: $spaceBase;
	@media (min-width: $largeWidth) {
		bottom: $spaceBase*3;
	    }
	}

.edge--left,
.edge--right {
	bottom: $spaceBase;
	top: $spaceBase;
	width: .2rem;
	@media (min-width: $largeWidth) {
	    bottom: $spaceBase*3;
		top: $spaceBase*3;
		width: .4rem;
	    }
	}

.edge--left {
	left: $spaceBase;
	@media (min-width: $largeWidth) {
		left: $spaceBase*3;
	    }
	}

.edge--right {
	right: $spaceBase;
	@media (min-width: $largeWidth) {
		right: $spaceBase*3;
	    }
	}

.home__wrapper {
	@media (min-height: $minHeight) {
	    display: flex;
		flex-direction: column;
	    }
	@media (min-width: $mediumWidth) {
		flex-direction: row;
	    }
	}

.home__info,
.home__nav {
	padding: ($spaceBase*4 + .2rem);
	}

.home__info {
	@media (min-height: $minHeight) {
		align-items: center;
		display: flex;
	    height: 75vh;
	    padding-bottom: 0;
	    padding-top: $spaceBase;
	    justify-content: center;
	    }
	@media (min-width: $mediumWidth) {
		height: 100vh;
		padding-left: ($spaceBase*5 + .2rem);
		width: 50vw;
	    }
	@media (min-width: $largeWidth) {
		padding-left: ($spaceBase*7 + .4rem);
	    }
	}

.home__info__wrapper {
	width: 100%;
	max-width: 400px;
	}

.home__info__name {
	font-size: $typeBigger;
	margin-bottom: $spaceBase*3;
	}

.home__info__location {
	margin-bottom: $spaceBase*2;
	}

.home__info__intro li:not(:last-child) {
	margin-bottom: $spaceBase;
	}

.home__info__social {
	display: flex;
	justify-content: space-between;
	margin-top: $spaceBase*4;
	}

.home__info__social svg {
	fill: $text-color;
	width: 2.4rem;
	}

.home__nav {
	background: #062D3F;
	padding-bottom: $spaceBase*3;
	padding-top: $spaceBase*4;
	@media (min-height: $minHeight) {
		align-items: center;
		display: flex;
		height: 25vh;
		justify-content: center;
	    order: 1;
	    padding-bottom: $spaceBase;
	    padding-top: 0;
	    }
	@media (min-width: $mediumWidth) {
		height: 100vh;
		padding-right: ($spaceBase*5 + .2rem);
		width: 50vw;
	    }
	@media (min-width: $largeWidth) {
		padding-right: ($spaceBase*7 + .4rem);
	    }
	}

.home__nav ul {
	display: flex;
	justify-content: space-between;
	max-width: 400px;
	width: 100%;
	}
